<link href="css/bootstrap.min.css" rel="stylesheet"> 
<link href="css/styles.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #333333;
  background-color: #ffffff;
  position: relative;
	.wrapper {
		padding: 0 0 0 0;
	}
}
h1 {
	font-family: Ubuntu;
  font-size: 2.5em;
  margin: 20px 0;
}

header {
		margin: 0;
	}

text {
	color: #ddd;
}



.content {
	margin-bottom: 100px;
}


#page_up_down_button {
    position: sticky;
    bottom: 0;
    padding-bottom: 20px;
}


.sleva {
	float: left;
	width: 200px;
	margin-right: 30px;
}

.sprava {
		min-width: 500px;
		margin-left: 220px;

}

.mainpage {
	width: 80%;
	min-width: 500px;
	padding-top: 50px;
	margin-right: 10%;
	margin-left: 10%; 
}
.centr {
	text-align: center;
}

a {
  color: #555;
  padding-bottom: 3px;
}


.active {
	background-color: #ddd; 
}